*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f3f6;
}

.page-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1220px;
}

.container {
  display: grid;
  min-height: 1024px;
  grid-template-rows: [first] 55px [one] 5rem [two] 40% [three] 40% [four] 5rem [five] 5rem [last];
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-content: center;
}

.social-links {
  grid-area: 2 / 12 / 3 / 13;
  align-self: end;
  background-color: red;
  width: 5rem;
  height: 5rem;
}

.home-bg-image {
  width: 612px;
  height: 810px;
  grid-area: 3 / 1 / 5 / 6;
  background-color: green;
}

.home-title {
  grid-area: 3 / 7 / 4 / 12;
  height: 25rem;
  width: 25rem;
  background-color: blue;
}

.intro-text {
  grid-area: 4 / 7 / 5 / 12;
  height: 10rem;
  width: 25rem;
  background-color: #777777;
}

.projects-button {
  width: 8rem;
  height: 4rem;
  grid-area: 4 / 7 / 5 / 9;
  background-color: pink;
  align-self: center;
}
