/*
You can nest a child div in a parent div using CSS syntax
i.e html tag or class . notation. However, you can replace
the parent element name with & in dot notation. For example:

.main
    .main_paragraph

becomes:
.main
    &_paragraph
*/
/*
This compiles as just the element (i.e .main_paragraph) but if we want
to compile with the parent element (i.e .main .main_paragraph) we need to 
wrap 
*/
/*
A partial is a sass file starting with _ that contains css
and which sass does not generate a css file for. This allows
you to compile snippets of css such as variables, colors, etc without
sass creating a separate css file for each 
*/
/*
Instead of mapping a variable, we can create functions which css will 
automatically compile whatever the function returns. Functions return
values
*/
/*
Mix-ins are similar to functions in that you can set several styles such as 
for flex-boxes. You can use these for things such as changing from light
to dark themes, or for media queries. Mix-ins store styles
*/
/*
Extensions allow you to inherit the styles from another element so you dont 
have to re-type all of the same styles. Then you can add additional styles.
*/
/*
You can do mathematical operations in SASS without having to use the CSS calc()
method. However, you MUST use the same type (i.e px, rem, %, etc). For example
width: 80% + 5%;
*/
*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(47, 47, 47, 0.9);
  color: #f3f3f3;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.main .main_paragraph1, .main .main_paragraph2 {
  font-weight: 700;
  padding: 1rem;
}

.main .main_paragraph1:hover, .main .main_paragraph2:hover {
  color: pink;
}

.main .main_paragraph2:hover {
  color: lightblue;
}

@media (max-width: 800px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
