*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f3f6;
}

:root {
  --main: #2f2f2f;
  --background-color: #f1f3f6;
  --banner-color: #434343;
  --links: #f3f3f3;
  --links-light: #e4e4e4;
  --accent: #47d881;
  --hover: #1178d8;
  --hover-light: #2784db;
}

.page-container {
  position: relative;
  margin: 0 auto;
  overflow: visible;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1440px;
}

/* NAVBAR */
#nav-wrapper {
  position: absolute;
  height: 75px;
  width: 100%;
  background-color: var(--main);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 2;
  transition: 0.5s;
}

#navbar {
  position: absolute;
  height: 75px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo-wrapper {
  display: flex;
  height: 55px;
  width: 7.5rem;
  align-items: center;
  justify-content: center;
}

#logo-desktop {
  position: absolute;
  height: 42px;
  width: 80px;
  transform: scale(1.4);
}

.nav-links {
  display: flex;
  height: 55px;
  width: 55%;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a {
  color: var(--links);
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: normal;
  text-decoration: none;
  padding: 0.65rem 1rem;
}

#contact-link {
  background-color: var(--accent);
  border-radius: 1.5rem;
  color: var(--main);
}

#contact-link:hover {
  background-color: var(--background-color);
}

/* NAVBAR HOVER_PIN ANIMATION */
#hover-pin {
  height: 0px;
  transition: 0.3s;
}

.nav-link:hover #hover-pin {
  height: 15px;
}

.nav-links :nth-child(4):hover #hover-pin {
  display: none;
}

.nav-link #hover-pin {
  background-color: none;
}

/* NAV BURGER  */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}

.menu-btn_burger {
  width: 35px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-11px);
}

.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(11px);
}


/* MAIN GRID  */
.main-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: [first] 75px [one] 20rem [two] 1fr [three] 1fr [four] 1fr [five] 1fr [six] 1fr [seven] 1fr [eight] 1fr [nine] 1fr [ten] 1fr [last];
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  min-height: 90rem;
}

.hero-image {
  position: absolute;
  top: 0px;
  height: 30vh;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/Images/Projects/Naro_Moru/project_cardFace_lg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titles {
  grid-area: 2 / 1 / 3 / -1;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;
  justify-self: start;
  color: var(--main);
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: capitalize;
  justify-self: start;
  color: var(--links);
}

.main-content {
  grid-area: 3 / 1 / -1 / -1;
}

.software {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subheader {
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main);
  margin: 1.5rem 1rem 1.5rem 0;
}

.software .subheader {
  font-size: 25px;
  line-height: 42px;
}

/* SOFTWARE ICONS  */
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icons img {
  height: 48px;
  width: 48px;
}

.icons img:hover {
  transform: scale(1.1);
}

/* MAIN TEXT  */
.main-text {
  margin: 1.5rem 0;
}

.main-text h2 {
  font-size: 28px;
}

.main-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 1rem 0;
}

.header {
  margin: 1.5rem 0;
  text-transform: capitalize;
}


.main-content img{
  display: block;
  margin: auto;
}

.image_cont{
  margin: 2rem 0;
}

.image_cont.dataImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drone_images {
  width: 650px;
  height: 550px;
}

.track_images {
  width: 750px;
  height: 650px;
}

.survey_data {
  width: 550px;
  height: 650px;
}

.feature_details {
  width: 450px;
  height: 350px;
}

.naroMoru_ortho {
  width: 550px;
  height: 650px;
}

.naroMoru_DSM {
  width: 470px;
  height: 570px;
}

.naroMoru_3D {
  width: 570px;
  height: 520px;
  margin-top: 4rem;
} */

.section1 {
  grid-area: 1 / 1 / 2 / -1;
}

.section2 {
    grid-area: 2 / 1 / 3 / -1;
  }

.section3 {
grid-area: 3 / 1 / 4 / -1;
}

.table {
  margin: 1.5rem 0;
}

table {
  margin: auto;
}

table, th, td {
        border: 1px solid rgba(218, 218, 218, 0.52);
        border-collapse: collapse;
        height: 40px;
        text-align: left;
        padding-left: 10px;
}

table th {
    background-color: rgba(218, 218, 218, 0.303);
    text-transform: capitalize;
}

.accuracyTable {
  margin-top: 3rem;
}

.section4 {
grid-area: 4 / 1 / 5 / -1;
}

.section5 {
grid-area: 5 / 1 / 6 / -1;
}

.section6 {
grid-area: 6 / 1 / 7 / -1;
}

.section7 {
grid-area: 7 / 1 / 8 / -1;
}

.section8 {
grid-area: 8 / 1 / 9 / -1;
}

.section9 {
grid-area: 9 / 1 / 10 / -1;
}

.section10 {
grid-area: 10 / 1 / -1 / -1;
}



/* FOOTER */
.footer-banner {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--banner-color);
    opacity: 0.9;
    z-index: 1;
  }

  .contact-links {
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
  }
  
  .contact-links img {
    height: 33px;
    width: 33px;
    margin: 0.3rem 0;
  }
  
  .contact-links img:hover {
    transform: scale(1.1);
  }
  
  .footer-wrapper {
    position: fixed;
    height: 30px;
    bottom: 0rem;
    left: 0rem;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }
  
  .footer {
    position: fixed;
    height: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copyright-mark {
    color: var(--main);
    font-size: 12px;
  }

/* ***************MEDIA QUERIES******************* */
/* https://www.smashingmagazine.com/2013/07/simple
-responsive-images-with-css-background-images/ */


@media screen and (max-width: 1250px) {
  /* HOME SECTION  */
  .nav-links {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1000px) {
  /* NAVBAR */
  #nav-wrapper {
    height: 55px;
  }

  #navbar {
    height: 55px;
  }
}

@media screen and (max-width: 840px) {
}

@media screen and (max-width: 768px) {
  /* HOME SECTION  */
  .menu-btn {
    display: flex;
  }

  #nav-wrapper {
    position: fixed;
  }

  .nav-links {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(101%);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.6s ease-in;
    z-index: 3;
  }

  #contact-link {
    background: none;
  }

  .nav-link a {
    color: var(--main);
    font-size: 15;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    opacity: 0;
  }

  .nav-link a:hover {
    font-size: 17px;
  }

  .nav-link:hover #hover-pin {
    display: none;
  }

  .section9 .dataImages {
    flex-direction: column;
  }
}

/* NAV TOGGLE */
.nav-active {
    transform: translateX(0%);
  }
  
  /* LINK FADE ANIMATION */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  /* BURGER ANIMATION */
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }