*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f3f6;
}

:root {
  --primary: #1f4e5f;
  --secondary: #79a8a9;
  --hover2: rgba(17, 120, 216, 0.9);
  --hover3: rgba(26, 67, 81, 0.7);
  --main: rgba(47, 47, 47, 0.9);
  --links: rgba(243, 243, 243, 1);
  --accent: #6ec401;
  --accent2: #47d881;
}

.site-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.page-container {
  position: relative;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1440px;
}

/* NAVBAR */
#nav-wrapper {
  position: fixed;
  height: 55px;
  width: 100%;
  background-color: var(--main);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#navbar {
  position: fixed;
  height: 55px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo-wrapper {
  display: flex;
  width: 25%;
  height: 55px;
  align-items: center;
  justify-content: center;
}

#logo-desktop {
  position: absolute;
  height: 42px;
  width: 80px;
  transform: scale(1.5);
}

.nav-links {
  display: flex;
  height: 55px;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a {
  color: var(--links);
  height: 55px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: normal;
  text-decoration: none;
  margin: 0rem 0.75rem;
  padding: 20px 0px;
}

/* Navbar hover-pin animation */
#hover-pin {
  height: 0px;
  transition: 0.3s;
}

.nav-link:hover #hover-pin {
  height: 15px;
}

.nav-link #hover-pin {
  background-color: none;
}

.burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  visibility: hidden;
  right: 1.5rem;
}

.burger div {
  background-color: var(--links);
  width: 35px;
  height: 5px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.burger :nth-child(2) {
  width: 25px;
}

.burger :nth-child(3) {
  width: 15px;
}

/* HOME SECTION */
/* Choose which elements span how far (title, call to action, mtKenya info, and give them all a span-property so
each element doesn't need its own column and row property. Then this can be manipulated by media queries as found
in: https://css-tricks.com/things-ive-learned-css-grid-layout/ */
.home-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: [first] 55px [one] 4.5rem [two] 35% [three] 35% [four] 8rem [last];
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-content: center;
}

/*SOCIAL LINKS*/
.social-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 2 / 12 / 4 / 13;
  justify-self: end;
  align-self: flex-start;
}

.social-links img {
  height: 33px;
  width: 33px;
  margin: 0.3rem 0;
}

.social-links img:hover {
  transform: scale(1.1);
}

.home-bg-image {
  position: relative;
  width: 774px;
  height: 946px;
  grid-area: 2 / 1 / 5 / 6;
  justify-self: start;
  padding: 0 2rem;
  box-shadow: inset 20px -20px 30px #434343, inset -20px -20px 30px #434343;
  /* transform: rotate(3deg); */
}

.imageBox {
  position: absolute;
  overflow: hidden;
  width: 774px;
  height: 946px;
  top: 0;
  left: 0;
}

/* .imageBox::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(13deg);
} */

/*
.imageBefore {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../Images/Background/mtKenya_Sentinel2_tcc_blender.jpg);
} */

/* .imageAfter {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../Images/Background/mtKenya_Sentinel2_fcc_blender.jpg);
  height: 52%; 
}
*/

.imageBefore {
  z-index: -1;
}

.imageAfter {
  height: 52%;
  z-index: 1;
  /* transition: 2s; */
}

.imageBox img {
  width: 774px;
  height: 946px;
}

.home-banner {
  position: absolute;
  width: 100%;
  height: 34rem;
  top: 36.45rem;
  background-color: 434343;
  z-index: -2;
  /* transform: rotate(3deg); */
}
/*Controls the image slider effect*/
/* .home-bg-image:hover .imageAfter {
  width: 50%;
} */

/* HOME CONTENT */
.home-content {
  grid-area: 1 / 8 / -1 / 13;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.home-title h1 {
  font-family: Montseratte, sans-serif;
  font-style: normal;
  font-weight: medium;
  font-size: 50px;
  line-height: 70px;
  text-align: left;
  letter-spacing: 0.4rem;
  color: var(--main);
}

.home-title .green {
  color: var(--accent);
  text-transform: capitalize;
  font-size: 65px;
  line-height: 4.5rem;
}

/* Line-height, also known as leading, controls the amount of space between baselines
in a block of text. For paragraphs, the ideal line-height is usually between 1.3x and 1.7x the font size */

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 0.25;
  margin-bottom: 10rem;
}

/* Keep paragraph spacing between 0.75x and 1.25x of the type size*/
.intro-text {
  align-items: left;
  justify-self: start;
  margin: 0.5rem 0;
}

.intro-text p {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2rem;
  line-height: 25px;
  color: #f1f3f6;
  max-width: 35rem;
  /* margin-bottom: 3rem; */
}

.primary-button:hover {
  background-color: var(--hover2);
}

.primary-button {
  position: relative;
  height: 65px;
  width: 200px;
  padding: 22px 20px;
  margin: 10px 0px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: #21383e;
}

.projects-button {
  padding: 12px 35px;
  justify-self: start;
}

/* PROJECT LINK CARDS */
.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--main);
}

#proj-cards {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.project-cards {
  display: grid;
  margin-bottom: 4rem;
  padding: 1.5rem;
  grid-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: 35rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container .cards {
  max-width: 320px;
  min-width: 280px;
  margin: 20px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 20px 20px 40px rgba(55, 84, 170, 0.1),
    20px -20px 40px rgba(255, 255, 255, 1);
  /* inset 4px 4px rgba(255, 255, 255, 0.5); */
}

.container .cards:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(55, 84, 170, 0.1);
}

.container .cards .imgBx {
  text-align: center;
  padding: 10px 0;
}

.imgBx img {
  max-width: 120px;
}

.container .cards .contentBx {
  text-align: center;
}

.container .cards .contentBx h2 {
  color: var(--main);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 10px 0;
}

.container .cards .contentBx p {
  color: var(--main);
  padding: 15px 0;
  text-align: left;
}

.container .cards .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  color: var(--main);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15px;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.1),
    4px 4px 10px rgba(55, 84, 170, 0.1);
}

.container .cards .contentBx a:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(55, 84, 170, 0.1);
}

.container .cards a:hover span {
  display: block;
  transform: scale(0.98);
}

.container .cards:hover .imgBx,
.container .cards:hover .contentBx {
  transform: scale(0.98);
}

/* PROJECTS SECTION */
.projects-grid {
  display: grid;
  min-height: 50rem;
  grid-template-rows: [first] 5rem [two] auto [three];
}

/* Projects Title */
.projects-grid h1 {
  grid-row-start: 1;
  align-self: center;
}

/* Project Containers */
.projects-container {
  display: grid;
  grid-gap: 0.4rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-start: 2;
}

/* REMOVE THIS AS MORE PROJECTS ARE ADDED*/
.projects-container .card:nth-child(4) {
  display: none;
}
.projects-container .card:nth-child(5) {
  display: none;
}

.projects-container .card .face {
  width: 300px;
  height: 200px;
  border-radius: 18px;
  transition: 0.5s;
}

.projects-container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.projects-container .card:hover .face.face1 {
  /* background: #ff0057; */
  background: #5c4afffb;
  transform: translateY(0px);
  transform: scale(1.05);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.projects-container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.projects-container .card:hover .face.face1 .content {
  opacity: 1;
}

.projects-container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

.projects-container .card .face.face2 {
  position: relative;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 20px 20px 40px rgba(55, 84, 170, 0.1);
  transform: translateY(-100px);
}

.projects-container .card .face.face2 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects-container .card:hover .face.face2 {
  transform: translateY(0px);
  transform: scale(1.05);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.projects-container .card .face.face2 .content p {
  padding: 0.7rem 0;
}

.projects-container .card .face.face2 .content a {
  margin: 15px 0;
  align-self: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 8px;
  border-radius: 40px;
  border: 1px solid #333;
}

.projects-container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.projects-container .view-more-wrapper {
  justify-content: center;
  align-self: center;
  margin: auto 0px;
}

/* ABOUT ME SECTION */
#about-me {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.aboutme-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: [first] 5rem [one] 1fr [two] 1fr [three] 1fr[last];
  grid-template-columns: repeat(12, 1fr);
  max-height: 1024px;
}

.aboutme.page-title {
  grid-area: 1 / 1 / 2 / -1;
  align-self: center;
  justify-self: left;
}

.portrait {
  grid-area: 2 / 1 / 5 / 4;
  justify-self: left;
  align-self: center;
  width: 280px;
  height: 280px;
}

.aboutme-text {
  grid-area: 2 / 6 / 5 / 8;
  display: block;
  justify-self: center;
  text-align: left;
  align-self: center;
  padding: 0 2rem;
}

.aboutme-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 1rem 0;
  min-width: 400px;
  max-width: 500px;
}

.aboutme-credentials {
  grid-area: 2 / 10 / 5 / 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aboutme-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-credentials .aboutme-card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.aboutme-credentials .aboutme-card .face.face1 {
  width: 120px;
  height: 120px;
  /* margin: auto; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.aboutme-credentials .aboutme-card:hover .face.face1 {
  /* background: #5c4afffb; */
  transform: translateY(0px);
  transform: scale(1.05);
}

.aboutme-credentials .aboutme-card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abtme-icon {
  width: 65px;
  height: 65px;
}

.aboutme-credentials .aboutme-card:hover .face.face1 .content {
  transform: translateY(-20px);
  background: var(--main);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  opacity: 1;
}

.aboutme-credentials .aboutme-card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}

.aboutme-credentials .aboutme-card .face.face2 {
  display: none;
  position: relative;
  background-color: none;
  box-sizing: border-box;
  transform: translateY(-150px);
}

.aboutme-credentials .aboutme-card .face.face2 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  background-color: #ffffff;
  padding: 2.5rem 0;
}

.aboutme-credentials .aboutme-card:hover .face.face2 {
  display: inline-block;
  transform: translateY(-50px);
}

.aboutme-credentials .aboutme-card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.subheader {
  font-family: Montseratte, sans-serif;
  font-style: normal;
  font-weight: medium;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0.5rem 0;
  color: var(--accent);
}

.ed .content {
  align-self: left;
}

.college {
  padding: 0.5rem 0;
}

.degree {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #21383e;
  /* var(--primary); */
  padding: 0.2rem 0;
}

.school {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0.5rem 0;
}

.nc-state {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.department {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0.5rem 0;
}

.minor {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0.5rem 0;
}

.focus-list {
  list-style-position: inside;
  white-space: nowrap;
}

.focus-list li {
  padding: 2px 0;
}

.tools-list {
  list-style-position: inside;
}

.tools-list li {
  padding: 2px;
}

/* CONTACT SECTION */
#contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contact-content {
  background-image: url(/Images/Background/Contact_Background.png);
  background-size: cover;
  min-height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.5rem 0 3rem 0;
}

.contact-content h3 {
  font-family: Lato;
  max-width: 38rem;
  text-transform: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-links {
  width: 8rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-links img {
  height: 33px;
  width: 33px;
  margin: 0.3rem 0;
}

.contact-links img:hover {
  transform: scale(1.1);
}

/* FOOTER */
.footer-wrapper {
  position: fixed;
  height: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.footer {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-mark {
  color: var(--main);
  font-size: 12px;
  padding: 12px;
}

@media screen and (max-width: 1024px) {
  .imageBox img {
    transform: scale(0.8);
    transition: 1s;
  }

  .imageBefore .imageAfter {
    transform: scale(0.8);
  }

  .portrait {
    grid-area: 2 / 3 / 3 / 6;
    justify-self: center;
    /* align-self: start; */
    width: 280px;
    height: 280px;
  }

  .aboutme-text {
    grid-area: 3 / 3 / 5 / 6;
    padding-top: 4.5rem;
  }

  .aboutme-credentials {
    grid-area: 2 / 7 / 5 / 13;
  }
}

@media screen and (max-width: 1000px) {
  .home-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: [first] 55px [one] 4rem [two] 17rem [three] 40rem [four] 5rem [five] 5rem [six] 5rem [seven] 8rem [last];
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-content: center;
  }

  .home-title {
    grid-area: 3 / 1 / 4 / -1;
    max-width: 480px;
    padding: 0 2rem;
    align-self: start;
    justify-self: center;
  }

  .home-title h1 {
    font-size: 40px;
    line-height: 3rem;
  }

  .home-title .green {
    font-size: 52px;
    line-height: 3.5rem;
  }

  .home-bg-image {
    grid-area: 4 / 1 / 5 / -1;
    place-self: center;
  }

  .intro-text {
    grid-area: 5 / 1 / 7 / -1;
    padding: 0;
    max-width: 500px;
    justify-self: center;
    align-self: start;
  }

  .projects-button {
    grid-area: 7 / 1 / 8 / -1;
    justify-self: center;
  }
}

/* Around here, the grids stop conforming to the page-container and become smaller. However,
the navbar still spans 100% (larger than the page container). I need to find out how to
make the page-container stay the full width of the page. */
@media screen and (max-width: 840px) {
  /* ABOUT ME PAGE */
  .aboutme-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: [first] 10rem [one] 5rem [two] 5rem [two] 5rem [three] 5rem [four] 15rem [five] 8rem [last];
    grid-template-columns: repeat(12, 1fr);
    max-height: 2000px;
  }

  .portrait {
    grid-area: 2 / 1 / 4 / -1;
    justify-self: center;
  }

  .aboutme-text {
    grid-area: 4 / 1 / 6 / -1;
    justify-self: center;
    align-self: start;
    padding-top: 2.5rem;
    max-width: 450px;
  }

  .aboutme-credentials {
    justify-self: center;
    grid-area: 8 / 1 / 9 / -1;
  }

  .contact-grid {
    grid-template-rows: [nav-start] 3rem [nav-end] 7.5rem [third-line] 1fr [fourth-line] 20rem [last-line];
    min-height: 900px;
  }
}

@media screen and (max-width: 768px) {
  /* Navbar */
  .burger {
    visibility: visible;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 35%;
    height: 450px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.8s ease-in;
  }

  .nav-links .nav-link {
    width: 100%;
  }

  /* .aboutme-credentials .aboutme-card:hover .face.face1 .content { 
    This might be the key, a hover triggering a child element to change style
  */

  /* .nav-links .nav-link:hover {
    background: var(--main);
  } */

  .nav-link .nav-link-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .nav-link a {
    width: 100%;
    color: var(--main);
  }

  /* .nav-link a:hover {
    color: var(--links);
  } */
}

@media screen and (max-width: 686px) {
  .projects-grid {
    grid-template-rows: [first] 5rem [two] auto [three] 8rem [last];
  }

  .projects-container .view-more-wrapper {
    justify-content: center;
    align-self: center;
    margin: 8rem 0;
  }
}

/* LINK FADE ANIMATION */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* NAV TOGGLE */
.nav-active {
  transform: translateX(0%);
}

/* BURGER TOGGLE */
.toggle-burger .line1 {
  transform: rotate(-45deg) translate(-9px, 7px);
}
.toggle-burger .line2 {
  opacity: 0;
}
.toggle-burger .line3 {
  transform: rotate(45deg) translate(-9px, -7px);
  width: 35px;
}
