*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f3f6;
}

:root {
  --primary: #1f4e5f;
  --secondary: #79a8a9;
  --hover2: rgba(17, 120, 216, 0.9);
  --hover3: rgba(26, 67, 81, 0.7);
  --main: rgba(47, 47, 47, 0.9);
  --links: rgba(243, 243, 243, 1);
  --accent: #6ec401;
  --accent2: #47d881;
  --background-color: #f1f3f6;
  --banner-color: #434343;
}

.page-container {
  position: relative;
  margin: 0 auto;
  overflow: visible;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1440px;
}

/* NAVBAR */
#nav-wrapper {
  position: absolute;
  height: 55px;
  width: 100%;
  background-color: var(--main);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#navbar {
  position: absolute;
  height: 55px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo-wrapper {
  display: flex;
  height: 55px;
  width: 7.5rem;
  align-items: center;
  justify-content: center;
}

#logo-desktop {
  position: absolute;
  height: 42px;
  width: 80px;
  transform: scale(1.4);
}

.nav-links {
  display: flex;
  height: 55px;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a {
  color: var(--links);
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: normal;
  text-decoration: none;
  padding: 0.65rem 1rem;
}

#contact-link {
  background-color: var(--accent2);
  border-radius: 1.5rem;
  color: var(--main);
}

#contact-link:hover {
  background-color: white;
}

/* Navbar hover-pin animation */
#hover-pin {
  height: 0px;
  transition: 0.3s;
}

.nav-link:hover #hover-pin {
  height: 15px;
}

.nav-links :nth-child(4):hover #hover-pin {
  display: none;
}

.nav-link #hover-pin {
  background-color: none;
}

.burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
  visibility: hidden;
  right: 20px;
}

.burger div {
  background-color: var(--links);
  width: 35px;
  height: 5px;
  border-radius: 50px;
  transition: all 0.2s ease;
}

.burger :nth-child(2) {
  width: 25px;
}

.burger :nth-child(3) {
  width: 15px;
}

/* HOME SECTION */
.grid {
  padding: 0;
}

#home {
  margin-bottom: 12rem;
}

.home-grid {
  display: grid;
  grid-gap: 0.47rem;
  grid-template-rows: [first] 55px [one] 10rem [two] 1fr [three] 1fr [last];
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  min-height: 90rem;
  /* overflow: hidden; */
}

/*SOCIAL LINKS*/
.social-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.social-links img {
  height: 28px;
  width: 28px;
  margin: 0.5rem 0;
}

.social-links img:hover {
  transform: scale(1.1);
}

.home-bg-image {
  position: absolute;
  width: 774px;
  height: 946px;
  top: 14.4rem;
  right: 6.5rem;
}

.imageBox {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.shadowBefore {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset -10px -10px 15px var(--banner-color);
}

.shadowAfter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset -15px 10px 15px white;
}

.imageBefore {
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: none; */
}

.imageAfter {
  height: 48.7%;
  /* transform: scale(1.01); */
  /* display: none; */
}

.imageBox img {
  width: 774px;
  height: 946px;
  /* width: 851px;
  height: 1041px; */
}

/* HOME CONTENT */
.home-content {
  grid-area: 3 / 2 / -1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: start;
  height: 54rem;
  margin-top: 2rem;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-title h1 {
  /* font-family: "Poppins", sans-serif; */
  font-style: normal;
  font-weight: medium;
  font-size: 35px;
  text-align: left;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  color: var(--main);
}

.subtitle {
  opacity: 0.8;
}

.home-title .green {
  font-family: "Poppins", sans-serif;
  color: var(--accent2);
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 0.1rem;
}

/* Line-height, also known as leading, controls the amount of space between baselines
in a block of text. For paragraphs, the ideal line-height is usually between 1.3x and 1.7x the font size */

/* Keep paragraph spacing between 0.75x and 1.25x of the type size*/

.home-banner {
  position: absolute;
  width: 100%;
  height: 46rem;
  top: 43.2rem;
  background-color: #434343;
  z-index: -2;
  transition: 0.5s;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23.5rem;
  padding-top: 4rem;
}

.intro-text {
  min-width: 360px;
}

.intro-text p {
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2rem;
  color: #f1f3f6;
  /* margin-bottom: 3rem; */
}

.primary-button {
  height: 65px;
  width: 240px;
  padding: 18px;
  color: var(--main);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 8px;
  background: white;
  border: 3px solid var(--hover2);
}

.primary-button:hover {
  background-color: var(--hover2);
  color: var(--links);
}

.home-button {
  background: none;
  color: var(--links);
  justify-self: start;
  margin-top: 4rem;
}

/* PROJECT LINK CARDS */
.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin-left: 20px;
  color: var(--main);
}

#proj-cards {
  margin: 6rem 0;
}

.project-cards {
  display: grid;
  margin-bottom: 4rem;
  padding: 1.5rem;
  grid-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  min-height: 35rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container .cards {
  max-width: 320px;
  min-width: 280px;
  margin: 20px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 20px 20px 40px rgba(55, 84, 170, 0.1),
    20px -20px 40px rgba(255, 255, 255, 1);
}

.container .cards:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(55, 84, 170, 0.1);
}

.container .cards .imgBx {
  text-align: center;
  padding: 10px 0;
}

.imgBx img {
  max-width: 120px;
}

.container .cards .contentBx {
  text-align: center;
}

.container .cards .contentBx h2 {
  color: var(--main);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 10px 0;
}

.container .cards .contentBx p {
  color: var(--main);
  padding: 15px 0;
  text-align: left;
}

.container .cards .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  color: var(--main);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15px;
  transform: scale(1.1);
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.1),
    4px 4px 10px rgba(55, 84, 170, 0.1);
}

.container .cards .contentBx a:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(55, 84, 170, 0.1);
}

.container .cards a:hover span {
  display: block;
  transform: scale(0.98);
}

.container .cards:hover .imgBx,
.container .cards:hover .contentBx {
  transform: scale(0.98);
}

/* PROJECTS SECTION */
.projects-grid {
  display: grid;
  min-height: 38rem;
  grid-template-rows: [first] 5rem [two] auto [three];
}

/* Projects Title */
.projects-grid h1 {
  grid-row-start: 1;
  align-self: center;
}

/* Project Containers */
.projects-container {
  display: grid;
  grid-gap: 0.4rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  grid-row-start: 2;
}

/* REMOVE THIS AS MORE PROJECTS ARE ADDED*/
.projects-container .card:nth-child(4) {
  display: none;
}
.projects-container .card:nth-child(5) {
  display: none;
}

.projects-container .card .face {
  width: 300px;
  height: 200px;
  border-radius: 18px;
  transition: 0.5s;
}

.projects-container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.projects-container .card:hover .face.face1 {
  /* background: #ff0057; */
  background: #5c4afffb;
  transform: translateY(0px);
  transform: scale(1.05);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.projects-container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.projects-container .card:hover .face.face1 .content {
  opacity: 1;
}

.projects-container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

.projects-container .card .face.face2 {
  position: relative;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 20px 20px 40px rgba(55, 84, 170, 0.1);
  transform: translateY(-100px);
}

.projects-container .card .face.face2 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects-container .card:hover .face.face2 {
  transform: translateY(0px);
  transform: scale(1.05);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.projects-container .card .face.face2 .content p {
  padding: 0.7rem 0;
}

.projects-container .card .face.face2 .content a {
  margin: 15px 0;
  align-self: center;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 8px;
  border-radius: 40px;
  border: 1px solid var(--hover2);
}

.projects-container .card .face.face2 .content a:hover {
  border: 1px solid #333;
  background: #333;
  color: #fff;
}

/* ABOUT ME SECTION */
#about-me {
  margin-top: 5rem;
  margin-bottom: 17rem;
}

.aboutme-grid {
  display: grid;
  grid-template-rows: [first] 5rem [second] repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  max-height: 1220px;
}

.aboutme.page-title {
  grid-area: 1 / 1 / 2 / -1;
  align-self: center;
  justify-self: left;
}

.portrait {
  grid-area: 2 / 1 / 5 / 4;
  width: 400px;
  height: 659px;
  transform: scale(0.8);
}

.aboutme-text {
  grid-area: 2 / 6 / 5 / 9;
  justify-self: center;
  text-align: left;
  align-self: center;
  padding: 0 2rem;
}

.aboutme-text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 1rem 0;
  min-width: 375px;
  max-width: 450px;
}

.aboutme-credentials {
  grid-area: 2 / 10 / 5 / 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aboutme-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-credentials .aboutme-card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.aboutme-credentials .aboutme-card .face.face1 {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.aboutme-credentials .aboutme-card:hover .face.face1 {
  transform: translateY(0px);
  transform: scale(1.05);
}

.aboutme-credentials .aboutme-card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abtme-icon {
  width: 65px;
  height: 65px;
}

.aboutme-credentials
  .aboutme-card:hover
  .face.face1
  .content {
  transform: translateY(-20px);
  background: var(--main);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  opacity: 1;
}

.aboutme-credentials .aboutme-card .face.face2 {
  display: none;
  position: relative;
  background-color: none;
  box-sizing: border-box;
  transform: translateY(-150px);
}

.aboutme-credentials .aboutme-card .face.face2 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  background-color: #ffffff;
  padding-top: 3rem;
}

.aboutme-credentials .aboutme-card:hover .face.face2 {
  display: inline-block;
  transform: translateY(-50px);
}

.aboutme-credentials
  .aboutme-card
  .face.face2
  .content
  a:hover {
  background: #333;
  color: #fff;
}

.ed .content {
  align-self: left;
}

.college {
  padding: 0.5rem 0;
}

.degree {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #21383e;
  padding: 0.2rem 0;
}

.school {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0.5rem 0;
}

.nc-state {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.department {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0.5rem 0;
}

.focus-list {
  list-style-position: inside;
  white-space: nowrap;
}

.focus-list li {
  padding: 2px 0;
}

.tools-list {
  list-style-position: inside;
}

.tools-list li {
  padding: 2px 0;
}

/* CONTACT SECTION */

.contact-page {
  background-image: url(/Images/Background/Contact_Background.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 62.5rem;
}

.contact-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 45rem;
  min-height: 53rem;
  padding-top: 4rem;
}

.contact-content h3 {
  font-family: Lato;
  min-width: 20rem;
  padding: 0 2rem;
  text-transform: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: var(--main);
  opacity: 90%;
}

.contact-links {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.contact-links img {
  height: 33px;
  width: 33px;
  margin: 0.3rem 0;
}

.contact-links img:hover {
  transform: scale(1.1);
}

.contact-button {
  background-color: rgba(255, 255, 255, 0.85);
}

/* FOOTER */
.footer-banner {
  position: relative;
  width: 100%;
  bottom: -62.5rem;
  height: 10rem;
  background-color: var(--banner-color);
  z-index: 1;
}

.footer-wrapper {
  position: fixed;
  height: 30px;
  bottom: 0rem;
  left: 0rem;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.footer {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-mark {
  color: var(--main);
  font-size: 12px;
  padding: 12px;
}

/* ***************MEDIA QUERIES******************* */
/* https://www.smashingmagazine.com/2013/07/simple
-responsive-images-with-css-background-images/ */

/* @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  /* styles for Retina-type displays } */

@media screen and (max-width: 1250px) {
  .nav-links {
    width: 65%;
  }

  .home-bg-image {
    top: 14.25rem;
    overflow: hidden;
    transform: scale(0.85) translateX(10%);
    right: 1rem;
  }

  .imageBefore img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .imageAfter img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  /* ABOUT ME SECTION  */
  #about-me {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }

  .portrait {
    grid-area: 2 / 2 / 3 / 5;
    transform: scale(0.8);
  }

  .aboutme-text {
    grid-area: 2 / 7 / 3 / 12;
    padding: 0 2rem;
  }

  .aboutme-credentials {
    flex-direction: row;
    grid-area: 3 / 3 / 5 / 11;
  }
}

@media screen and (max-width: 1000px) {
  /* HOME SECTION  */
  #home {
    margin-bottom: 0rem;
  }

  .home-grid {
    grid-template-rows: [first] 55px [one] 6rem [two] 1fr [three] 1fr [four] 1fr [five] 8rem [last];
    min-height: 120rem;
  }

  .social-links {
    grid-area: 2 / 1 / 3 / 2;
    transform: scale(0.9);
  }

  .home-bg-image {
    top: 59.2rem;
    width: 100%;
    transform: scale(1);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .imageBox {
    left: 50%;
    margin-left: -387px;
    transform: scale(0.7);
  }

  .imageBefore {
    height: 50%;
    z-index: 1;
    transform: scale(0.71);
  }

  .imageAfter {
    top: -4rem;
    height: 100%;
    z-index: -1;
    /* padding: 0; */
    /* transform: scale(0.75) translateY(-8%); */
  }

  .shadowBefore {
    box-shadow: inset -10px 0px 15px var(--banner-color),
      inset 0px 10px 15px var(--banner-color),
      inset 10px 0px 15px var(--banner-color);
  }

  .shadowAfter {
    box-shadow: inset 10px 0px 15px white,
      inset -10px 0px 15px white, inset 0px -10px 15px white;
  }

  .home-content {
    height: 45rem;
    grid-area: 1 / 1 / 5 / -1;
    max-width: 33rem;
    justify-content: space-between;
    margin-top: 8rem;
  }

  .home-title {
    margin-top: 0;
  }

  .home-button {
    align-self: center;
    margin-top: 0;
  }

  .home-banner {
    top: 28.5rem;
    height: 56rem;
  }

  .banner-content {
    height: 20rem;
    padding: 0;
  }

  #proj-cards {
    margin-top: 0rem;
  }

  #about-me {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 840px) {
  /* PROJECTS SECTION  */
  #projects {
    margin-bottom: 8rem;
  }

  /* ABOUT ME SECTION  */
  .aboutme-grid {
    display: grid;
    grid-template-rows: [first] 5rem [second] repeat(7, 1fr) [last];
    grid-template-columns: repeat(12, 1fr);
    min-height: 1500px;
  }

  .portrait {
    transform: scale(0.7);
    grid-area: 2 / 1 / 5 / -1;
    justify-self: center;
    align-self: center;
    margin-top: 4rem;
  }

  .aboutme-text {
    grid-area: 4 / 1 / 9 / -1;
    padding-top: 2.5rem;
    margin-top: 4rem;
  }

  .aboutme-credentials {
    grid-area: 9 / 3 / 10 / 11;
    margin-bottom: 5rem;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    visibility: visible;
    cursor: pointer;
  }

  #nav-wrapper {
    position: fixed;
  }

  #navbar {
    position: fixed;
  }

  .nav-links {
    position: absolute;
    top: 55px;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(110%);

    width: 60%;
    height: 450px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.8s ease-in;
    z-index: -2;
  }

  .nav-links .nav-link {
    width: 100%;
  }

  .nav-link .nav-link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .nav-link a {
    width: 100%;
    color: var(--main);
    font-size: 11;
  }

  .nav-link a:hover {
    font-size: 15px;
  }

  .nav-link:hover #hover-pin {
    display: none;
  }

  .nav-links :nth-child(4):hover #hover-pin {
    display: none;
  }

  /* CONTACT SECTION  */
  /* #contact {
    max-height: 62.5rem;
  } */

  .contact-content h3 {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 686px) {
  .home-grid {
    grid-template-rows: [first] 55px [two] 1fr [three] 1fr [four] 1fr [five] 1fr [last];
  }

  .social-links {
    display: none;
  }

  .home-content {
    grid-area: 2 / 1 / 4 / -1;
    max-width: 33rem;
    justify-content: space-between;
    margin-top: 3.5rem;
  }

  .banner-content {
    padding: 0;
  }

  .project-cards {
    grid-gap: 4rem;
  }

  .aboutme-credentials {
    grid-area: 9 / 1 / -1 / -1;
    justify-content: space-around;
  }

  .contact-content h3 {
    font-size: 18px;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 470px) {
  /* HOME SECTION  */
  .home-grid {
    min-height: 95rem;
  }

  .home-content {
    height: 40rem;
    padding: 0 1rem;
  }

  .home-title h1 {
    font-size: 25px;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0;
  }

  .home-title .green {
    font-size: 50px;
    letter-spacing: 0.1rem;
  }

  .home-bg-image {
    top: 46.9rem;
  }

  .imageBox {
    left: 50%;
    margin-left: -387px;
    transform: scale(0.5);
  }

  .imageBefore {
    transform: scale(0.51);
  }

  .imageAfter {
    top: -7.3rem;
  }

  .intro-text p {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .home-banner {
    top: 23.5rem;
    height: 45.7rem;
  }

  /* PROJECT SECTION  */
  #proj-cards {
    margin-top: 0;
  }

  .projects-container {
    grid-gap: 2rem;
  }

  #projects {
    margin-bottom: 15rem;
  }

  .aboutme-grid {
    min-height: 110rem;
  }

  .aboutme-credentials .aboutme-card {
    margin: 1rem 0;
  }

  .aboutme-credentials .aboutme-card .face {
    width: 240px;
    height: 160px;
    transition: 0.5s;
  }

  .abtme-icon {
    width: 52px;
    height: 52px;
  }

  .aboutme-credentials
    .aboutme-card:hover
    .face.face1
    .content {
    width: 96px;
    height: 96px;
  }

  .aboutme-credentials .aboutme-card .face.face2 .content {
    padding-top: 2rem;
  }

  .aboutme-credentials .aboutme-card .face.face2 .ed {
    padding: 2rem 1rem;
  }

  .degree {
    font-size: 13px;
    line-height: 20px;
  }

  .school {
    font-size: 12px;
    line-height: 16px;
  }

  .department {
    font-size: 12px;
    line-height: 16px;
  }

  .focus-list li {
    font-size: 12px;
  }

  .tools-list li {
    font-size: 12px;
  }

  .contact-page {
    min-height: 70rem;
  }

  .contact-content {
    padding-top: 2rem;
    min-height: 55rem;
  }

  .footer-banner {
    height: 15rem;
    bottom: -70rem;
  }
}

/* MOBILE LAYOUT */
@media screen and (max-width: 425px) {
  /* HOME SECTION  */
  .home-banner {
    top: 24.5rem;
    height: 44.7rem;
  }

  /* PROJECT CARDS SECTION  */
  #proj-cards {
    margin-top: 0;
  }

  /* PROJECTS SECTION  */
  #projects {
    margin-bottom: 12rem;
  }

  .projects-grid {
    min-height: 100rem;
  }

  /* ABOUT ME SECTION  */
  .aboutme-grid {
    min-height: 1650px;
  }

  .aboutme-grid h1 {
    margin-bottom: 3rem;
    margin-left: 20px;
  }

  .aboutme-text {
    grid-area: 5 / 1 / -1 / -1;
    padding: 1rem 0;
  }

  .aboutme-text p {
    font-size: 14px;
    padding: 0 2rem;
  }

  .aboutme-credentials {
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .aboutme-credentials .aboutme-card .face.face2 .ed {
    padding: 2rem 0;
  }

  /* CONTACT SECTION  */
  .contact-content h3 {
    font-size: 18px;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 375px) {
  .burger {
    transform: scale(0.75);
  }

  .logo-wrapper {
    justify-content: left;
  }

  #logo-desktop {
    transform: scale(1.1);
    margin-left: 0.5rem;
  }

  .home-grid {
    grid-gap: 0;
  }

  .home-title .green {
    font-size: 40px;
    letter-spacing: 0.1rem;
  }

  .home-title .subtitle {
    font-size: 22px;
  }

  .page-title {
    margin-left: 0;
  }

  .aboutme-grid h1 {
    margin-left: 0;
  }

  .home-banner {
    top: 23rem;
    height: 57.5rem;
  }

  .intro-text {
    min-width: 17rem;
  }

  .intro-text p {
    font-size: 12px;
    line-height: 1.3rem;
  }

  .home-button {
    margin: 0;
  }

  .project-cards {
    grid-gap: 0.6rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(260px, 1fr)
    );
    min-height: 30rem;
  }

  .container .cards {
    max-width: 256px;
    min-width: 224px;
    margin: 20px;
    padding: 16px 24px;
  }

  .container .cards .imgBx {
    padding: 10px 0;
  }

  .imgBx img {
    max-width: 96px;
  }

  .container .cards .contentBx h2 {
    font-size: 15px;
  }

  .container .cards .contentBx p {
    padding: 15px 0;
    font-size: 13px;
  }

  .container .cards .contentBx a {
    padding: 8px 16px;
    font-size: 13px;
  }

  .portrait {
    transform: scale(0.65);
  }

  .aboutme-grid {
    min-height: 1700px;
  }

  .aboutme-text {
    padding: 1rem 0;
  }

  .aboutme-credentials {
    padding-top: 3rem;
  }

  .aboutme-text p {
    padding: 0 1rem;
    min-width: 18rem;
  }

  .projects-grid {
    min-height: 90rem;
  }

  .projects-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(260px, 1fr)
    );
  }

  .projects-container .card .face {
    width: 240px;
    height: 160px;
  }

  .projects-container .card .face.face1 .content h3 {
    margin: 0;
    padding-bottom: 0.7rem;
    font-size: 1.2em;
  }

  .projects-container .card .face.face1 .content img {
    transform: scale(0.75);
  }

  .projects-container .card .face.face2 {
    transform: translateY(-60px);
    padding: 20px;
  }

  .projects-container .card .face.face2 .content p {
    padding: 0.8rem 0;
    font-size: 13px;
  }

  .projects-container .card .face.face2 .content a {
    margin: 0;
    font-size: 12px;
    padding: 6px;
  }

  .contact-page {
    min-height: 60rem;
  }

  .contact-content {
    padding: 4rem 0;
  }

  .contact-content h3 {
    padding: 0 0.8rem;
    min-height: 10rem;
  }

  .footer-banner {
    bottom: -60rem;
  }
}

@media screen and (max-width: 320px) {
  .project-cards {
    padding: 0;
  }

  .aboutme-text p {
    padding: 0 0.5rem;
    min-width: 16rem;
  }

  .contact-content h3 {
    font-size: 15px;
    min-width: 16rem;
    padding: 0 0.5rem;
  }
}

/* LINK FADE ANIMATION */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* NAV TOGGLE */
.nav-active {
  transform: translateX(0%);
}

/* BURGER TOGGLE */
.toggle-burger .line1 {
  transform: rotate(-45deg) translate(-9px, 7px);
}
.toggle-burger .line2 {
  opacity: 0;
}
.toggle-burger .line3 {
  transform: rotate(45deg) translate(-9px, -7px);
  width: 35px;
}
