$primary: #1f4e5f;
$secondary: #79a8a9;
$hover2: rgba(17, 120, 216, 0.9);
$hover3: rgba(26, 67, 81, 0.7);
$main: rgba(47, 47, 47, 0.9);
$links: rgba(243, 243, 243, 1);
$accent: #6ec401;
$accent2: #47d881;
$background: #f1f3f6;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$mobile: 800px;
