<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Templ_CSS/cards.css" />
    <title>Project Cards</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="../../Images/Icons/sketch.png" alt="#" />
            <h3>Design</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              sunt hic similique accusantium velit eos quae earum, temporibus
              officiis ipsam!
            </p>
            <a href="#">View Project</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="../../Images/Icons/data.png" alt="#" />
            <h3>Code</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              sunt hic similique accusantium velit eos quae earum, temporibus
              officiis ipsam!
            </p>
            <a href="#">View Project</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="../../Images/Icons/startup.png" alt="#" />
            <h3>Launch</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              sunt hic similique accusantium velit eos quae earum, temporibus
              officiis ipsam!
            </p>
            <a href="#">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
